.call-to-action {
	background: $color_dark;
	width: 100%;
	padding: 35px 40px;
	position: relative;

	h3 {
		color: #fff;
		margin-bottom: 5px;
		font-size: 19.6px;
	}

	.subtitle {
		color: rgba(#fff, .6);
		font-size: 15px;
	}

	.btn {
		float: right;
		white-space: nowrap;
	}


	@media screen and (max-width: 786px){
		.content-center .wrap {
			width: 100%;
			display: block;
		}
		.btn {
			float: none;
			margin-top: 15px;
		}
	}
}