
.portfolio-page-custom-content {
	padding: 0 15px;

	@media screen and (max-width: 768px){
		padding: 0;
		margin: 0 -15px;
	}
}

.portfolio-page-onepage {
	position: relative;
	overflow: hidden;
}

.portfolio-page {
	position: relative;

	.images-wrap {

		@include clearfix;

		img {
			vertical-align: top;
			width: 100%;
			float: left;
			margin-bottom: 5px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	.portfolio-content {
		padding: 80px 15px 80px 70px;
		z-index: 2;

		.project-title {
			margin: 1rem 0;
		}

		.tag {
			margin-right: 0px;
		}
	}

	.task-title {
		margin-top: 35px;
		font-size: 15px;
	}

	.description {
		margin-top: 15px;
	}

	.info {
		margin-top: 25px;
	}

	.info-list {
		list-style: none;

		li {
			width: auto;
			display: inline-block;
			min-width: 50px;
			max-width: 180px;
			margin-right: 2rem;
			vertical-align: top;

			&:last-child {
				margin-right: 0px;
			}
		}

		.title {
			color: $color_dark-gray;
			margin: 0 0 5px 0;
			padding-bottom: 8px;
			border-bottom: 1px solid $color_border;
			font-size: $font_caption-size;
			font-weight: 600;
			text-transform: uppercase;
		}

		p {
			margin-top: 5px;
			font-size: $font_small-size;
			color: #636363;

			display: inline-flex;
		}
	}

	.socialbar {
		margin-top: 15px;
		margin-left: -15px;

		a:first-child {
			margin-left: 15px;
		}

		a {
			font-weight: 600;
			font-size: $font_extra_small-size;
			margin-top: 5px;
		}
	}

	.open-website {
		margin-top: 30px;
	}

	&.boxed {

		@media screen and (min-width: 769px) and (max-width: 1024px) {

			> .vc_row {
				margin-left: 0;
				margin-right: 0;
			}
		}

		@include sm_screen {

			.portfolio-content {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}

	&.content-invert {

		.portfolio-content {
			padding: 80px 70px 80px 15px;
		}
	}

	&.fullwidth {
		padding-left: 0;
		padding-right: 0;

		> .vc_row {
			margin: 0;
		}

		.portfolio-content-wrap {
			display: flex;
			justify-content: flex-end;
		}

		.portfolio-content {

			@media screen and (min-width: 1441px) {

				width: calc( (#{$container_width} - 30px) / 2);
			}

			@media screen and (min-width: 1280px) and (max-width: 1440px) {

				width: calc( (#{$container_width_md} - 30px) / 2);
			}
		}

		&.full {

			.portfolio-content {
				width: 50%;
				padding-right: 7%;
			}
		}

		&.content-invert {

			@include sm_screen {

				margin-top: $header_height;
			}

			&.full {

				.portfolio-content-wrap {
					padding-left: 7%;
					padding-right: 0;
				}

				.portfolio-content {
					width: 100%;
					padding-left: 15px;
				}
			}
		}

		.images-wrap {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&.fullscreen {
		width: auto;
		max-width: 50%;
		background: rgba($color_dark,.97);
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;

		.portfolio-content {
			padding: 60px;
			transition: .3s cubic-bezier(.45, 1, .65, 1);
			transition-property: width, height, padding;

			&.closed {
				padding: 30px 90px 20px 30px;
			}

			&.no-transition {
				transition: none;
			}

			.socialbar a,
			.project-title, 
			h4 {
				color: #fff;
			}

			p {
				color: #9a9a9a;
			}

			.project-title {
				font-size: 2em;
			}

			.info {

				.title {
					color: #fff;
					border-color: rgba(#fff, 0.25);
				}

				a {
					color: inherit;
				}
			}
		}

		.toggle-btn {
			color: #fff;
			width: 70px;
			height: 70px;
			line-height: 72px;
			font-size: 26px;
			text-align: center;
			position: absolute;
			top: 0;
			right: 0;
			opacity: 1;
			cursor: pointer;

			&:hover {
				opacity: .8;
			}
		}
	}

	&.with-slider {

		.portfolio-content {
			padding: 0 15px 80px;
		}

		.project-title {
			font-size: 3em;
		}

		.info {
			margin-top: 10px;
		}

		.slider {
			margin-bottom: 40px;

			.owl-item {
				padding: 0 55px;
			}

			img {
				width: 100%;
			}
		}
	}

	&.header-full, 
	&.portfolio-header-title {
		background-size: cover;
		background-position: center;
		height: 100vh;

		.back {
			position: absolute;
			left: calc( (100% - 700px)/4 );
			font-size: $font_small-size;
			font-weight: 600;

			.icon {
				font-size: 20px;
				vertical-align: -2px;
				margin-right: 6px;
				opacity: .8;
			}
		}

		.scroll {
			position: absolute;
			bottom: 100px;
			left: calc( (100% - 700px)/2 );
			font-size: $font_main-size;
			transform: rotate(-90deg) translateY(-50%) translateX(100%);

			&:after {
				content: "";
				background: currentColor;
				width: 40px;
				height: 2px;
				position: absolute;
				right: 140%;
				top: 45%;
				opacity: 0.75;
			}
		}

		.content-center {
			background: rgba($color_dark,.7);
		}

		.portfolio-content {
			width: 700px;
			margin: 0 auto;
			padding: 30px 0;
			position: relative;

			.project-title {
				font-size: 62px;
			}
		}

		&:not(.invert) {

			.back,
			.scroll,
			.info p a,
			.project-title, 
			p {
				color: #fff;
			}

			.info .title {
				border-color: rgba(#fff,.5);
			}

			.info-list {

				.title {
					color: #cbcbcb;
				}
			}
		}

		&.invert {

			.content-center {
				background: rgba(#fff,.85);
			}
		}
	}

	&.portfolio-header-title {
		height: auto;

		.scroll {
			margin-left: -9px;
		}

		.portfolio-content {
			width: 800px;
			height: auto;
			text-align: center;
		}

		.content-center {
			padding: 14% 0 12%;
		}

		.info-list {

			li {
				max-width: none;
				margin-right: 20px;
			}

			.title, p {
				width: auto;
				display: inline-block;
				font-size: $font_extra_small-size;
				font-weight: 600;
				line-height: 20px;
			}

			.title {
				margin: 0;
				padding: 0;
				border: none;
			}

			p {
				margin-bottom: 0;
			}
		}

		.scroll {
			left: 50%;
			bottom: 50px;
		}
	}

	// Header title animation
	&.header-full, 
	&.portfolio-header-title {

		h1, h2, .tag, .info, .back, .scroll {
			opacity: 0;
			transform: translateY(30px);
			transition: .4s ease-in-out;
			transition-property: opacity, transform;
		}

		h1, h2 {
			transition-delay: .15s;
		}

		.info {
			transition-delay: .3s;
		}

		.back {
			transition-delay: .5s;
			transform: translateX(30px);
		}

		.scroll {
			transition-delay: .4s;
			transform: rotate(-90deg) translateY(-50%) translateX(100%) translateX(30px);
		}

		&.show {

			h1, h2, .tag, .info, .back {
				opacity: 1;
				transform: none;
			}

			.scroll {
				opacity: 1;
				transform: rotate(-90deg) translateY(-50%) translateX(100%);
			}
		}
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {

	.portfolio-page {

		&.header-full, 
		&.portfolio-header-title {

			h1, h2 {
				font-size: 46px;
				line-height: 56px;
			}
		}

		&.header-full.show .scroll, 
		&.portfolio-header-title.show .scroll {
			display: none;
		}

		&.fullscreen {
			max-width: 70%;
		}
	}
}

@include sm_screen {

	.portfolio-page {

		.portfolio-content  {

			.vc_row .vc_column_container > .vc_column-inner {
				padding-left: 15px;
				padding-right: 15px;
			}
		}

		&.content-invert .portfolio-content,
		&.with-slider .portfolio-content,
		.portfolio-content {
			padding: 30px 0;
		}

		.description {

			.vc_column_container > .vc_column-inner {
				padding-left: 15px;
				padding-right: 15px;
			}
		}

		.info-list {
			display: block;

			li {
				width: 100%;
				max-width: 100%;
			}
		}

		.socialbar {
			margin-top: 15px;

			a {
				margin-top: 5px;
			}
		}

		&.fullwidth,
		&.fullwidth.full {

			.portfolio-content {
				padding-left: $spacer;
				padding-right: $spacer;
			}
		}

		&.fullwidth.content-invert {

			.portfolio-content {
				padding-left: 10px;
				padding-right: 10px;
			}
		}

		&.header-full {
			height: auto;

			.portfolio-content {
				width: auto;
				padding: 90px $spacer $spacer;
			}
		}

		&.portfolio-header-title {
			.content-center {
				padding: 0;
			}
			.portfolio-content {
				width: auto;
				padding: 120px $spacer 60px;
			}
			.info-list li {
				width: auto;
				margin: 0 5px;
			}
			.scroll,
			.back {
				display: none;
			}
		}

		&.fullscreen {
			position: static;
			max-width: none;

			.portfolio-content {
				padding: 30px $spacer;
				margin: 0;
			}

			.open-website {
				margin-top: 15px;
			}
		}
	}

	.portfolio-page-onepage {

		.norebro-onepage {
			height: 100vh;
		}

		.toggle-btn {
			display: none;
		}
	}
}

.portfolio-comments {
	background-color: #f7f7f7;

	.comments-area {
		background-color: transparent;
	}

	> .page-container {
		overflow-x: hidden;
	}

	#comments {

		&.comments-area {
			margin-top: 0;
		}
	}
}